hammurabi-app {
  display: block;

  --ivy-league: #607848;
  --mossociety: #789048;
  --agrio: #C0D860;
  --aglet: #F0F0D8;
  --purple: #604848;
  
  --header-background-color: var(--purple);
  --header-text-color: var(--agrio);
  --headline-text-color: var(--purple);
}

header, footer {
  margin: -8px -8px 0 -8px;
  padding-left: 10px;
  padding-right: 10px;

  display: grid;
  grid-template-columns: 1fr 80px 70px 70px;

  background-color: var(--header-background-color);
  color: var(--header-text-color);
}

header, footer, header div, footer div {
  font-family: 'Oswald', sans-serif;
}

footer {
  margin: 0 -8px -8px -8px;
  grid-template-columns: 1fr 150px;
}

header a, footer a {
  color: var(--header-text-color);
  align-self: center;
  justify-self: right;
  text-decoration: none;
}

.app-name a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

img.logo {
  height: 34px;
  margin: 3px 0 3px 0;
}

footer div {
  justify-self: right;
  grid-column: 1/4;
}
