.geeklist-title {
  font-size: smaller;
}

form {
  font-family: 'Open Sans', sans-serif;
  font-size: smaller;
}

.count {
  font-weight: bold;
}

.listing-row {
  display: flex;
  flex-wrap: wrap;

  font-family: 'Open Sans', sans-serif;
}

.listing-row.hidden {
  display: none;
}

item-listings .listing-row:nth-child(2n) {
  background-color: #dbf5fe66;
}

a {
  cursor: pointer;
}

.item-sold {
  text-decoration: line-through;
}

div.listings-page div.listing-row:nth-child(odd) {
  background-color: whitesmoke;
}

.in-collection, .in-collection a {
  color: darkgray;
}

.wishlist-priority-1 {
  background: radial-gradient(circle at top left, white 0, #ff2600 100%);
}

.wishlist-priority-2 {
  background: radial-gradient(circle at top left, white 0, #ff5233 100%);
}

.wishlist-priority-3 {
  background: radial-gradient(circle at top left, white 0, #ff7d66 100%);
}

.wishlist-priority-4 {
  background: radial-gradient(circle at top left, white 0, #ffa899 100%);
}

.wishlist-priority-5 {
  background: radial-gradient(circle at top left, white 0, #ffcfc7 100%);
}

.listing-column, .price-column, .user-column, .description-column {
  padding: 2px 10px 2px 10px;
  box-sizing: border-box;
}

.listing-column {
  width: 33%;
  max-width: 250px;
  box-sizing: border-box;
}

.listing-column a {
  margin-right: 5px;
}

.listing-column img {
  height: 12px;
}

.pure-button.button-xsmall {
  font-size: 50%;
}

.price-column {
  width: 33%;
  max-width: 100px;
  text-align: right;
  box-sizing: border-box;
}

.user-column {
  width: 33%;
  max-width: 100px;
  font-size: smaller;
  font-weight: bold;
  box-sizing: border-box;
}

.date-listed {
  font-size: x-small;
  font-weight: normal;
}

.description-column {
  overflow-x: hidden;
  vertical-align: top;
  font-size: smaller;
  box-sizing: border-box;
}

.description {
  height: 100%;
}

.description img {
  max-width: 100%;
}

ul li {
  font-family: 'Open Sans', sans-serif;
}
