about-page, account-page, listings-page {
  display: block;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-family: 'Open Sans', sans-serif;
  font-size: smaller;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  color: var(--headline-text-color);
}

p, div {
  font-family: 'Open Sans', sans-serif;
}

#idToken {
  width: 950px;
  height: 50px;
}

.note {
  font-size: small;
}

account-page .extra-life-box {
  display: flex;
  justify-content: center;
}

account-page img {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}